.box-main-one{
    display: flex;
    width: 980px;
    height: 690px;
    justify-content: center;
    align-content: center;
    margin: 0px 143px 0px 143px;
    padding: 20px 0px 20px 0px;
}

.body{
       background-color: #F2F4F7;
}

.box-one{
    margin: 50px 0px 0px 0px;
    padding: 0px 32px 0px 0px;
    width: 580px;
    height: 266px;
    align-content: end;
}

.box-two{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    margin: 100px 0px 0px 0px;
    padding: 24px ;
    width: 360px;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 8px;
    justify-content: center;
}
.x{
    margin-bottom: 10px;
}
.logo{
    width: 321px;
    height: 106px;
    justify-content: end;
    align-content: end;
    display: flex;
    margin: -28px;
}

.caja-logo{
    padding: 112px 0vw 16px 0px;
    width: 548px;
    height: 54px;
    font-size: 12px;
}

.slogan{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: #1c1b21;
    height: 63px;
    width: 473px;
}

.caja-usuario{
    width: 363px;
    padding: 14px 16px 14px 16px;
    font-size: 17px;
    box-sizing: border-box;
    border-radius: 6px;
    border-color: #737373;
    border: 1px solid #dadde1;
    font-family: Arial, Helvetica, sans-serif; 
}

.caja-usuario::placeholder{
color:#8a8c90;
}
.contrasena::placeholder{
    color: #8a8c90;
}
.contrasena{
    width: 363px;
    padding: 14px 16px 14px 16px;
    font-size: 17px;
    justify-content: end;
    align-items: end;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #dadde1;
}
.caja-contrasena{
    width: 100%;
    height: 22px;
    padding: 14px 16px 14px 16px;
    font-size: 17px;
    border: 0.7px 0.7px 0.7px 0.7px;
    justify-content: end;
    align-items: end;
}

.footer{
    background-color: #FFFFFF;
    height:180px ;
    width: 1300px;
}

.footer-one{
    width: 980px;
    height: 19px;
    padding: 20px 0px 10px 0px;
    margin: 0px 143px 0px 143px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 10px;
    color: #737373;
}

.footer-two{
    width: 980px;
    height: 19px;
    padding: 10px 0px 0px 0px;
    margin: 0px 143px 0px 143px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-content: start;
    align-items: center;
    display: flex;
    gap: 10px;
    color: #737373;
    flex-wrap: wrap;
    border-top: 1px solid;
    border-color: #737373;
}
.olvidaste-contraseña{
  justify-content: center;
  align-items: center;
  display: flex;
  color: #0866ff;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #dadde1;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.button-crear-cuenta{
    background-color: rgb(61, 174, 37);
    width: 190px;
    height: 48px;
    padding: 0px 16px 0px 16px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    align-items: center;
    border-radius: 6px;
    margin: 25px;
}
.cr{
    display: flex;
    justify-content: center;
}
.text{
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
.iniciar-sesion{ 
    background-color: #0866ff;
    width: 363px;
    height: 48px;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    border: #0866ff;
    border-radius: 6px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #737373;
}
.fin{
    padding: 0px;
    color: #737373;
    font-size: 11px;
    width: 980px;
    height: 19px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 68px;
    margin-left: 103px;
    background-color: #FFFFFF; 
}
.box-two-two{
    margin: 40px 0px 0px 0px;
    padding: 20px 0px 24px 0px;
    width: 410px;
    font-size: 14px;
    height: 19px;
    font-family: Helvetica, Arial, sans-serif;
}
.negrilla{
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color:black;
}
.button{
    border-radius: 6px;
    width: 363px;
    height: 48px;
    padding-top: 15px;
}